{% extends "base.html" %}

{% block help_tab_class %}
  active
{% endblock %}

{% block content %}
  <div class="row blog-page">
    <!-- Left Sidebar -->
    <div class="col-md-9 md-margin-bottom-40">
      <p>
        Website submissions are accepted on an ongoing basis. News, new resources, opportunities, jobs and events directly related to higher education sustainability will be considered for inclusion on the Bulletin website and in the weekly e-newsletter.
      </p>
      <p>
        In an effort to keep posts timely, submissions older than two months will not be accepted. To submit an item for consideration,
        <a href="{% url 'bulletin:plugins:plugin-list' %}">click here</a>.
        All items will be reviewed within 48 business hours. <em>No item will be considered without a valid URL.</em>
      </p>
      <h4>News</h4>
      <p>
        All items must be related to the advancement of sustainability at higher education institutions and published within the last two months. (Photo/image upload encouraged with submission.)
      </p>
      <h4>Opportunities</h4>
      <p>
        Includes all opportunities that are related to campus sustainability, including national, regional and local opportunities, such as surveys and calls for submissions.
      </p>
      <h4>New Resources</h4>
      <p>
        New resources must be accessible to the higher education sustainability community at large. Examples include original AASHE content, campus sustainability reports, white papers, new magazines or journals, websites, newsletters and videos.
      </p>
      <h4>Events</h4>
      <p>
        The Bulletin has a wide geographical readership, therefore submitted events must involve significant participation beyond the city or state/province, and must be focused on higher education sustainability or have a major track clearly dedicated to higher education.
      </p>
      <p>
        For events that do not fit into this guidelines, advertising opportunities are available.
        <a href="http://www.aashe.org/about/aashe-media-kit#advertising">Click here</a>
        to learn more about advertising on AASHE’s website.
      </p>
      <h4>Jobs & Internships</h4>
      <p>
        Job ad submissions are free for member organizations. Jobs must be directly related to furthering campus sustainability <strong>and</strong> have sustainability concepts as part of their job descriptions (faculty positions in a sustainability-related field can be included). (Logo upload encouraged with submission.)
      </p>
      <p>
        Job opportunities available to students/faculty/staff at only one school, or programs that are not new programs but are just seeking graduates are not accepted. Advertising options are available for jobs, internships and fellowships that do not fit within these guidelines.
        <a href="http://www.aashe.org/about/aashe-media-kit#advertising">
          Click here
        </a>
        to learn more about advertising options.
      </p>
      <h2>Bulletin Companion Website</h2>
        <p>The Bulletin’s companion website is an excellent vehicle for publicizing your campus sustainability successes, resources related to campus sustainability, opportunities, regional and online events, and campus sustainability jobs!
      </p>
      <p>
        AASHE members and non-members may submit items. However, you do have to be logged into AASHE’s website to submit an item. If you do not have an account, you can
        <a href="http://www.aashe.org/user/register">
          create an AASHE website account for free</a>.
      </p>
      <p>
        * <em>Please note that posts typically take two full business days to be reviewed for potential website inclusion.</em>
      </p>
      <h2>Curated Bulletin Newsletter</h2>
      <p>
        Select submissions from the website will be included in the curated, weekly Bulletin newsletter delivered to your inbox. The Bulletin editor selects submissions that share best practices and communicate innovative and high-impact achievements related to sustainability in higher education. As a result, not all stories will be included in the newsletter.
      </p>
      <p>
        All stories must be submitted to the website for consideration in the weekly newsletter. To submit an item,
        <a href="{% url 'bulletin:plugins:plugin-list' %}">
          click here</a>.
        Stories submitted and approved by noon Eastern on the Wednesday before the next edition will be considered for inclusion in the upcoming issue.
      </p>
      <p>
        To sign up to receive the AASHE Bulletin, click
        <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=ypfrgybab&p=oi&m=1101397530104&sit=cck9okwbb&f=3e19f712-0e9c-4dfc-a328-8c4423ffb19e">here</a>.
      </p>
      <h2>Bulletin Ad Opportunities</h2>
      <p>
        The AASHE Bulletin is the premier e-newsletter on sustainability and higher education. Each week, it provides the latest campus sustainability news stories, events, resources and opportunities to a growing subscriber base of more than 9,000 including administrators, faculty, staff and students from more than 750 colleges and universities. Open and click rates for the Bulletin consistently surpass industry standards.
      </p>
      <h4>Banner Ads</h4>
      <p>
        AASHE accepts a maximum of two banner ads per issue. Banner ads can be purchased for one or three month packages. The ad dimensions are 468px by 60px and they appear in the Bulletin e-newsletter only. If you are interested in securing a slot for a banner ad, contact Skyelar Habberfield at
        <a href="mailto:skyelar.habberfield@aashe.org"
           target="_blank">
          skyelar.habberfield@aashe.org</a>.
      </p>
    </div>
    <!-- End Left Sidebar -->

    {% include "bulletin/sidebar.html" %}
  </div><!--/row-->
{% endblock %}
