# Input for pip-compile.

Django==1.9.13
dj_database_url
django-bulletin==3.4.11
django-extensions
django-htmlmin
django-membersuite-auth
django-overextends
django-template-repl
elasticsearch==5.5.3
gunicorn
django-debug-toolbar==1.4
#newrelic
pip-tools
psycopg2
#raven
whitenoise

-e git+https://github.com/AASHE/django-integration-settings.git#egg=django-integration-settings
-e git+https://github.com/AASHE/django-s3-folder-storage.git#egg=django-s3-folder-storage
