# Input for pip-compile.

Django>=1.8,<1.9
dj_database_url
django-extensions
django-haystack
django-htmlmin
django-overextends
django-s3-folder-storage
django-template-repl
elasticsearch
gunicorn
newrelic
pip-tools
psycopg2
raven
whitenoise

# The following should be cut and pasted into requirements.txt (and
# uncommented) after pip-compile'ing it. Until pip-compile can handle
# URLs like these.
# https://github.com/AASHE/django-bulletin/archive/master.zip
# https://github.com/AASHE/django-integration-settings/archive/master.zip
# https://github.com/AASHE/django-membersuite-auth/archive/master.zip
