Django>=1.8.14,<1.9
dj_database_url
django-haystack==2.4.1
django-overextends
elasticsearch==1.6.0

# Deployment
django-s3-folder-storage==0.3
gunicorn==19.3.0
newrelic
psycopg2
raven==5.8.1
whitenoise

# Development
django-template-repl
django-extensions

-e git+https://github.com/AASHE/aashe-auth.git@migrations#egg=aashe_auth
-e git+https://github.com/AASHE/django-bulletin.git#egg=django_bulletin
-e git+https://github.com/AASHE/django-integration-settings.git#egg=django_integration_settings
