{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Thank you for submitting a post!</h4>
    </div>
    <div class="panel-body">
      {% block thank_you %}
        <p>
          Thank you for your submission to the AASHE Bulletin website.
          Please allow 48 business hours for review.
        </p>
      {% endblock %}
      <a type="button"
         href="{{ next }}"
         class="btn btn-primary">
        Continue
      </a>
    </div>
  </div>
{% endblock content %}
