.aashe-tabs a {
    color: #687074;
    margin-right: 10px;
    margin-left: 10px;
}

.aashe-site-link {
    font-weight: bold;
    font-size: 1.5em;
}

.top-nav {
    border-bottom: 1px solid #c0c0c0;
    margin-top: 10px;
}

.top-menu a {
    color: #687074;
}
